.jumbotron {
  background-color: #674172 !important;
}

.jumbotron h1 {
  font-family: 'Bungee Inline', cursive;
}

.white {
  color: #ffffff !important;
}

.jumbotron h3, p, .scores {
  font-family: 'Righteous', cursive;
}

img {
  height: 50px;
  width: 50px;
}

.leave_mine {
  color: #3498DB !important;
  border: 2px solid #3498db !important;
  font-weight: bold !important;
}

.alert {
  color: #D91E18;
}
